/* .link .home{
    color:var(--text-color-nav-grey);
    transition-property:all;
    transition-duration:0.25s;
} */

body{
    --bg-color-nav: #5571C9;
    --bg-color-nav-hover: #5571C9;
    --bg-color-nav-2: #272761;
    --bg-color-nav-2-hover: #212150;

    background-color: var(--bg-color-nav);
}

.loader-wellc{
    font-family: 'lexend', sans-serif;
}

.nav-plus-dis{
    color: var(--gray-3);
    cursor: default;
}

/** Main Section **/

.main-sec{
    display:flex;
    align-items:center;
    height: 100vh;
    /*max-width:960px;*/
    margin:0 auto;
    color:#222;
    margin-top:calc(0vh - var(--nav-height));
    background:#5571C9; 
}

.img{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: white;
}

/*
.img h1 .qts{
    font-size: min(56px, 10vw);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight:700;
}
*/

.mi5wrap{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55vh;
    transform: translateY(-50%);
    z-index: 11;
}

.mi5wrap h1{
    z-index: 11;
    text-align: center;
    font-size: min(52px, 8vw);
    line-height:1.2;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin:0;
}

.mi5wrap h2{
    z-index: 11;
    text-align: center;
    background: white;
    border-radius: 10vw;
    margin:3vh auto;
    font-size: min(28px, 6vw);
    padding:1vw 2vw;
    transition: translate, 0.5s;
    font-family: 'lexend', sans-serif;
}

.mi5wrap h2:hover{
    transform: scale(1.05);
}

.mi5wrap a{
    text-decoration: none;
    color: #5571C9;
}
/*.main-sec::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}*/

.main-i{
    bottom: 0;
    position: absolute;
    max-width:120%;
}

/*.mi1,
.mi2,
.mi3,
.mi4{
    top:100vh;
    transform: translateY(-100%);
}*/

.mi1{
    top:100vh;
    transform: translateY(-90%);
}

.mi6{
    top: 12vh;
}

.mi1{
    z-index: 12;
}

.mi2{
    z-index: 9;
}

.mi3{
    z-index: 8;
}

.mi4{
    z-index: 7;
}

.mi5{
    z-index: 4;
    top: 8vh;
}

.mi6{
    z-index: 3;
}

.mi7{
    z-index: 2;
}

.mi56{
    z-index: 11;
}

.mi55{
    z-index: 11;
}

.ms-k{
    background: #101038;
    padding: -15px 0 -50px 0;
}

.msk-t{
    max-width: 960px;
    padding: 30px 25px 100px 25px;
    margin: auto;
    color: white;
    text-align: center;
}

.msk-t h1{
    font-size: min(42px, 8vw);
    padding:15px 0;
    line-height:1.2;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom:48px;
}

.msk-t h1 em{
    font-weight: 700;
    font-style: normal;
}

.msk-t p{
    font-size: min(26px, 6vw);
    font-weight: 400;
}

.msk-t p .spill{
    font-size: min(30px, 7vw);
    font-weight: 500;
    line-height: 30px;
}

.msk-t .well{
    margin-top: 48px;
    font-weight: 500;
    font-size: min(40px, 8vw);
}

.about-sec{
    background: #5571C9;
}

.img2{
    width: 100vw;
    height: 500vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: white;
}

.about-i{
    top: 0;
    position: absolute;
}

.ai-1{
    top: 0;
    transform: translateY(-10%) rotate(180deg);
    max-width:120%;
}

/*.sp-qt{
    max-width:500px;
}

.sp-qt h1{
    font-size:32px;
    padding:5px 0;
    line-height:1.2;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.sp-qt h1 .qts{
    font-size:36px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight:700;
    color:rgb(255, 153, 0);
}

.sp-qt h1 em{
    font-size:32px;
    font-weight: 600;
    font-style: normal;
}

.sp-qt .world{
    color:rgb(20, 98, 44);
}

.sp-qt .desgn{
    color: rgb(27, 95, 202);
}

.sp-qt p{
    font-size: 20px;
}

.sp-qt p .spill{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.sp-qt .well{
    margin-top: 10px;
    font-weight: 300;
    font-size:26px;
}

.circle{
    position: absolute;
    display:inline-block;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgb(27, 95, 202);
    clip-path: circle(400px at 100% 110%);
    z-index: -1;
    transition: all;
    transition-duration: 0.5s;
    overflow: hidden;
}

.circle1{
    position: absolute;
    display:inline-block;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgb(20, 98, 44);
    clip-path: circle(250px at 70% 110%);
    z-index: -2;
    overflow: hidden;

}

.h-sc{
    transform: translateX(-25px);
}*/

/**.sp-sp h1{
    margin-top:50px;
    font-size:75px;
    font-weight:700;
    font-family: 'Oswald', sans-serif;
    letter-spacing:1vh;
}

.sp-sp h2{
    margin-top:-15px;
    font-size:28px;
    font-weight:400;
}

.sp-sp h3{
    font-size:25px;
    font-weight:300;
}**/

@media (max-width:700px){
    .mi5wrap h2{
        padding:2vw 3vw;
    }
    
    .circle{
        transform: scale(100px);
    }

    .sp-qt p{
        display: none;
    }

    .join img{
        width:300px;
    }
}


@media (max-width:600px){
    .link{
        display:none;
    }

    .hbr-c{
        display:flex;
    }

    .circle{
        transform: translate(80px, 100px);
    }

    .h-sc{
        display:none;
    }
}

@media (max-width:400px){
    .mi5wrap h2{
        padding:3vw 5vw;
    }
}