#loader{
    top: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    position: fixed;
    z-index: 9999;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

.load-dp{
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animatebottom {
    from {transform: scale(1); opacity: 1;} 
    to {transform: scale(2); opacity: 0;}
}

@keyframes animatebottom { 
    from {transform: scale(1); opacity: 1;} 
    to {transform: scale(2); opacity: 0;}
}

.designDivision{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: auto;
}

.loader-wellc{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.wellc2,
.wellc3,
.wellc4{
    display: none;
}

.splash1{
    position: absolute;
    bottom: 10vh;
    right: 20vw;
    width: 200vh;
    display: none;
}

.splash2{
    transform: rotate(-45deg);
    position: absolute;
    bottom: 10vh;
    left: 30vw;
    width: 200vh;
    display: none;
}

.splash3{
    position: absolute;
    top: 9vh;
    left: 10vw;
    width: 200vh;
    display: none;
}

.splash4{
    position: absolute;
    top: 10vh;
    right: 40vw;
    width: 200vh;
    display: none;
}