.link .about{
    color:var(--text-color-nav-grey);
    transition-property:all;
    transition-duration:0.25s;
}

body{
    --bg-color-nav-2: #011826;
    --a-hover: #024059;
}

/*Main Section*/

section{
    --color:#222;
    --font-family: 'Poppins', sans-serif;
    --font-size-1: clamp(60px, 2em, 20px);
}

h1{
    font-size: min(60px, 6vw);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h2{
    font-size: min(50px, 5vw);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 4rem;
}

h3{
    font-size: min(35px, 3vw);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: min(3.5rem, 7vw);
}

h4{
    font-size: min(30px, 2vw);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: min(2.5rem, 4vw);
}

code{
    font-family: monospace;
}

.txt-cen{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-just{
    text-align: justify;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 12vw;
}

.white{
    color: white;
}

.main-sec{
    margin-top:calc(0vh - var(--nav-height));
    color:white;
}

.main-sec-a{
    width: 100%;
    height: 100vh;
    background: #011826;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.morre-a{
    text-align: center;
    background: white;
    border-radius: 10vw;
    margin:3vh auto;
    padding:.5vw 2vw;
    width:fit-content;
    color: #011826;
    font-size: min(28px, 1.78vw);
    transition: transform, 0.5s ;
}

.morre-a:hover{
    transform: scale(1.05);
}

.tentang{
    background: #F28B50;
    color: #011826;
    position: relative;
}

.t-h{
    /*position: absolute;
    display: inherit;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: min(80px, 8vw);*/
    padding: 1vw;
    border-radius: 2vw;
    background: white;
    color: #F28B50;
}

.t-p{
    max-width: 700px;
}

.ngapain{
    background: #024059;
    color: white;
}

.linkdiv{
    margin-top: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    --a-hover: #F28B50;
}

.pn-l{
    padding:1vw 2vw;
    background: white;
    border-radius: 10vw;
    color: #024059;
    font-weight: 600;
}

.divprog{
    margin-right: 3vw;
}

.visimisi{
    background-color: #F24405;
    color: white;
}

.vm{
    font-size: min(100px, 30vw);
    position: relative;
}

.visi{
    max-width: 680px;
}

.misi-h{
    margin-top: 30px;
}

ol.misi{
    list-style: decimal;
    margin-left: 30px;
    font-size: 30px;
}