.link .about{
    color:var(--text-color-nav-grey);
    transition-property:all;
    transition-duration:0.25s;
}

section{
    --color:#222;
    --font-family: 'Poppins', sans-serif;
    --font-size-1: clamp(60px, 2em, 20px);
}

.main-sec{
    margin-top:calc(0vh - var(--nav-height));
    color:white;
}

.main-sec-a{
    width: 100%;
    height: 100vh;
}

.ms-h{
    font-size: 120px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
}

.ms-p{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.1em;
    margin-top: -8px; 
    font-weight: 300;
}

.ms-dd{
    font-weight: 600;
}

.spilll{
    font-weight: 500;
}

.join{
   /*background: url('../img/b-js.jpg');
   background-size: 100%;
   backdrop-filter: blur(25px);
   background-attachment: fixed;*/
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.parallax-window{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.join .u-js{
    display: inline-block;
    margin-top:75px;
}

.join h3{
    font-size:26px;
    font-weight: 400;
    display: inline-block;
    margin-bottom:75px;
    margin-top:16px;
    padding: 12px 30px;
    color:white;
    background: #222;
    border-radius: 130px;
    transition-property: all;
    transition-duration: 0.5s;
} 

.join h3 a{
    color:white;
    text-decoration:none;
}

.join h3:hover{
    background:coral ;
    transform: scale(1.05);
}

.join h3 a:hover{
    color: white;
}

/**About Us**/

.know-us{
    color:var(--color);
    max-width: 900px;
    margin: 0 auto;
    
}

.know-us h1{
    font-family: var(--font-family);
    font-size:var(--font-size-1);
    margin: 160px 0;
    padding: 0 25px;
    color:var(--color);
}

.dg {
    /*background: url('../img/b-dg.jpg');
    background-attachment: fixed;*/
    display:flex;
    justify-content: center;
    align-items: center;
    /*background-size: 100%;*/
    
}

.dg-1{
    padding: 80px 0;
}

.dg-k{
    max-width: 960px;
    margin:0 auto;
    display: flex;
    justify-content: end;

}

.dg-k h2{
    padding: 80px 25px;
    max-width:700px;
    color:var(--color);
    font-family: 'Poppins', sans-serif;
    font-size:28px;
    font-weight:500;
    text-align: right;
}

.act{
    display:flex;
    /*background: url('../img/b-act.jpg');
    background-attachment: fixed;
    background-position: bottom;*/
    justify-content: center;
    align-items: center;
    /*background-size: 100%;*/
}

.act-1{
     padding: 50px 0;
}

.act-k{
    max-width: 960px;
    margin:0 auto;
    display: flex;
    justify-content: start;
}

.act-k h2{
    padding: 80px 25px;
    max-width:700px;
    color:var(--color);
    font-family: 'Poppins', sans-serif;
    font-size:28px;
    font-weight:500;
    text-align: left;
}

.events{
    display:flex;
    /*background: url('../img/b-events.jpg');
    background-attachment: fixed;*/
    justify-content: center;
    align-items: center;
    /*background-size: 100%;*/
}

.events-1{
    padding-bottom: 40px;
    padding-top:50px;
}

.events-k{
    max-width: 960px;
    margin:0 auto;
    display: flex;
    justify-content: end;

}

.events-k h2{
    padding: 80px 25px;
    max-width:700px;
    color:var(--color);
    font-family: 'Poppins', sans-serif;
    font-size:28px;
    font-weight:500;
    text-align: right;
}

.waitin{
    display:flex;
    /*background: url('../img/b-waitin.jpg');
    background-attachment: fixed;
    background-size: 100%;*/
    justify-content: center;
    align-items: center;
    
}

.waitin-1{
    padding-bottom: 40px;
    padding-top:50px;
}

.waitin-k{
    max-width: 960px;
    margin:0 auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.waitin-k h1{
    padding: 80px 25px 0 25px;
    max-width:700px;
    color:var(--color);
    font-family: 'Poppins', sans-serif;
    font-size:32px;
    font-weight:600;
    text-align: left;
   
}

.waitin-k h2{
    padding: 0px 25px 0px 25px;
    max-width:700px;
    color:var(--color);
    font-family: 'Poppins', sans-serif;
    font-size:28px;
    font-weight:500;
    text-align: left;
}

.wa{
    display: flex;
}

.wa h2{
    padding:0;
    padding-left:4px;
}

.wa-g{
    transform: translateY(4px);
}

.waitin-k h3{
    padding: 0px 25px 80px 25px;
    max-width:700px;
    color:var(--color);
    font-family: 'Poppins', sans-serif;
    font-size:26px;
    font-weight:400;
    text-align: left;
}

@media (max-width:600px){
    .ms-h{
        font-size:50px;
    }
}