nav a{
    color:var(--text-color-nav);
    text-decoration:none;
    transition-property:all;
    transition-duration:0.5s;
}

nav a:hover{
    color: var(--nav-a-hover);
}

body{
    background: #f4f4f4;

    /*** - Variable Declaration - ***/
    --text-color-nav: white;
    --text-color-nav-b: white;
    --text-color-nav-grey:#AAA;
    --bg-color-nav: transparent;

    --text-color-nav-2: white;
    --text-color-nav-b-2: white;
    --text-color-nav-grey-2:#AAA;
    --bg-color-nav-2: var(--gray-5);
    --bg-color-nav-2-hover: var(--gray-6);

    --nav-height: 16vh;

    --nav-a-hover: #b6b6e6;
}

/** NAVIGATION BAR **/

#main-nav{
    z-index:1000;
    position:sticky;
    top:0;
    transition-property:all;
    transition-duration:0.25s;
    background:var(--bg-color-nav);
    /*border-bottom: 2px solid #222;*/
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:var(--nav-height);
    max-width:1080px;
    margin:0 auto;
}

.logo{
    margin-top:5px;
    margin-left:30px;
    font-family:'lexend',sans-serif;
    color:var(--text-color-nav);
    transition-property:all;
    transition-duration:0.25s;
    list-style-type:none;
    line-height:min(25px, 4vh);
    display:flex;
    flex-direction:column;
    align-items:center;
}
    
.logo .l-top{
    font-weight:1000;
    font-size:min(36px, 8vw);
    letter-spacing:2.6px;
}

.logo .l-btm{
    font-weight:500;
    letter-spacing:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: min(16px, 4vw);
}

.link{
    margin:25px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.link li{
    color:var(--text-color-nav);
    transition-property:all;
    transition-duration:0.25s;
    list-style-type:none;
    font-size: min(20px, 4vw);
    font-weight:400;
    padding-left:12px;
    transition-property:all;
    transition-duration:0.5s;
    font-family: 'lexend',sans-serif;
}

.link :hover{
    transform: translateY(-2px);
}

.hbr-c{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: min(35px, 8vh);
    height: min(35px, 8vh);
    cursor:pointer;
    transition: all 0.5s ease-in-out;
}

.hbr{
    width: min(20px, 6vh);
    height: min(4px, 4vh);
    background: var(--text-color-nav-b);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    padding-right: 20px;
}

.hbr::before,
.hbr::after{
    content: '';
    position: absolute;
    width: min(34px, 8vh);
    height: min(4px, 4vh);
    background: var(--text-color-nav-b);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hbr::before{
    transform: translateY(-16px);
}

.hbr::after{
    transform: translateY(16px);
}

/*JS Class Burger*/

.hbr-c.open .hbr{
    transform: translateX(-50px);
    background: transparent;
}

.hbr-c.open .hbr::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.hbr-c.open .hbr::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

/*JS Class*/

.main-nav-b{
    --text-color-nav: var(--text-color-nav-2);
    --text-color-nav-b: var(--text-color-nav-b-2);
    --bg-color-nav: var(--bg-color-nav-2);
}

.main-nav-b:hover{
    --bg-color-nav: var(--bg-color-nav-2-hover);
}

.scroll-down {
	transform: translate3d(0, -100%, 0)
}

.scroll-up {
	filter: drop-shadow(0 -10px 20px #222);
}

@media (max-width:600px){
    .link{
        display:none;
    }

    .hbr-c{
        display:flex;
    }
}