@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

html,
body{
    overflow-x:hidden;
    scroll-behavior: smooth;
}

body{
    --nav-height: 16vmin;
    padding-top: var(--nav-height);
}

::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    background: var(--gray-4);
    padding: .1em;
}

::-webkit-scrollbar-thumb{
    background: var(--gray-2);
    border-radius: .4em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--gray-1);
}

*,
*::before,
*::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    /* font-family:'lexend',sans-serif; */
}

p{
    font-family:'lexend',sans-serif;
}

body{
     --a-hover: white;

     /* Color Liblarry Fireship.io*/
    --red:#ff3860;
    --red-dark:#ff1443;
    --red-light:#ff5c7c;
    --blue:#498afb;
    --blue-dark:#2674fa;
    --blue-light:#6ca0fc;
    --orange:#fa8142;
    --orange-dark:#f96a1f;
    --orange-light:#fb9865;
    --green:#09c372;
    --green-dark:#07a15e;
    --green-light:#0be586;

    --green-darker: rgb(8, 105, 63);
    --green-darkerer: rgb(4, 39, 24);

    --purple:#9166cc;
    --purple-dark:#7d4bc3;
    --purple-light:#a481d5;
    --pink:#ff4088;
    --pink-dark:#ff1c72;
    --pink-light:#ff649e;
    --gray-0:#f8f8f8;
    --gray-1:#dbe1e8;
    --gray-2:#b2becd;
    --gray-3:#6c7983;
    --gray-4:#454e56;
    --gray-5:#2a2e35;
    --gray-6:#12181b;
}

a{
    color: currentColor;
    text-decoration: none;
}

a:hover{
    color: var(--a-hover);
    text-decoration: underline;
    transition-property:all;
    transition-duration:0.5s;
}

nav a:hover{
    color: var(--nav-a-hover);
    text-decoration: none;
}

abbr{
    font-variant: none;
    text-decoration: none;
}

.ro180{
    transform: rotate(180deg);
}

.vflex-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}.vflex-l{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}.vflex-r{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

/* JS Class*/

.sl-up{
    transform: translateY(50%);
}

.sl-down{
    transform: translateY(-50%);
}

.sl-up,
.sl-down{
    transition: opacity 0.5s ease-in, transform 0.4s ease-in;
    opacity: 0;
}

.sl-up.appear,
.sl-down.appear{
    transform: translateY(0);
    opacity: 1;
}
